@tailwind base;
@tailwind components;
@tailwind utilities;



.main-min-height {
    height: 3000px;
}



  
  .bg-main {
    background-image: url('/assets/m-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(40px);
    animation: moveBackground 60s infinite linear; /* Adjust duration (10s) to your liking */
  }
  
  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

/* Ensure the cursor is properly hidden and custom cursor follows */
body {
  cursor: none;
}

/* Exception for clickable elements */
a, button, input, textarea, [role="button"] {
  cursor: none;
}

/* Hover animation */
a:hover ~ .cursor,
button:hover ~ .cursor {
  transform: scale(1.5);
}

.topAll {
  z-index: 9999;
}
/* Click animation */
@keyframes click {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Optional: Hide the default cursor globally */
* {
cursor: none;
}

a, button {
  cursor: none;
}


